@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');

body {
    background-color: #ddd;
    font-family: 'Cairo';
}

.bg-dark {
    background-color: #13305A!important;
}

/*boostrap fixes*/
.btn:focus, a:focus
{
    outline: none;
}
.navbar-toggler:focus
{
    outline: none !important;
    box-shadow: none;
}